header {
    background-color: #B58FC7;
    color: white;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}       
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

*{
    margin: 0;
    padding: 0;
}
body {
        font-family: 'Poppins', sans-serif;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#B58FC7,#B58FC7);
}

.estuante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estuante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estuante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}