*{
margin: 0;
padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}

.cabecalho-imagem{
    width: 60%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 50px;
    font-size: 24 px;

}
